@font-face
{
font-family: 'Bebas Neue';
src: url('fonts/BebasNeue.otf'),
}

body {
  background-color: #1b1b1b;
  background-size: 100%;
  color: #fff;
  font: 100 92px/1 'Bebas Neue';
  text-align: center;
  margin-left: 10%;
  }

h1 {
  font-size: 200%;
  padding: 2%;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: underline;
}

a {
  color: #fff;
}

a:hover { color: #d8481c; }
a:hover.quiet {
  color: #fff;
}

p { font-size: 45%; }

.animate-fast {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition:    all .2s ease-in-out;
  -o-transition:      all .2s ease-in-out;
  -ms-transition:     all .2s ease-in-out;
  transition:         all .2s ease-in-out;
  }

.content {
  width:90%;
  text-align: center;
}

.quiet { color: #fff; }
.soft { color: #999; }

ul {
  font-size: 30px;
  text-align: left;
  letter-spacing: 1px;
}
