@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue.otf'),
}

body {
  background-color: #1b1b1b;
  background-size: 100%;
  color: #fff;
  font: 100 92px/1 'Bebas Neue';
  text-align: center;
  margin-left: 10%;
  }

h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: -2;
  text-decoration: underline;
}

a {
  color: #fff;
}

a:hover { color: #f05; }
a:hover.quiet {
  color: #fff;
}

p {
  color: #bbb;
  font-size: 30%;
  font-weight: 100;
  font-family: 'Source Sans Pro';
}

.animate-fast {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition:    all .2s ease-in-out;
  -o-transition:      all .2s ease-in-out;
  -ms-transition:     all .2s ease-in-out;
  transition:         all .2s ease-in-out;
}

.content {
  width:90%;
  text-align: center;
}

.quiet { color: #fff; }
.soft { color: #999; }

ul {
  font-size: 30px;
  text-align: left;
  letter-spacing: 1px;
}

#FAQ {
  widows: 100%
}

#tag {
  font-family: 'Niconne';
  font-size: 26px;
}

.nav {
  font-size: 58px;
  padding: 40px;
  left: 0px;
  z-index: 999;
  width:100%;
}

a   .nav {
  padding-left: 40px;
}

.fixed {
  position: fixed;
  top: 0px;
  background-color: #000;
}
