body {
  background: #23161d url(img/broadsound.jpeg) no-repeat fixed center ;
  background-size: 100%;
  color: #fff;
  font-family: 'Gentium Book Basic', serif;
  }

a {
  color: #fff;
  text-decoration: underline;
  }

a:hover { color: #d8481c;}

p { font-size: 18px; }

.animate-fast {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition:    all .2s ease-in-out;
  -o-transition:      all .2s ease-in-out;
  -ms-transition:     all .2s ease-in-out;
  transition:         all .2s ease-in-out;
  }
  
.actions {
  font-family: 'Courier New', monospace;
  font-size:20px;
  color: #fff;
  text-align: center;
  }

.content { 
  width:50%;
  text-align: center;
  margin-left: 21.333%;
}

#brand { margin: 40px; }